@charset "UTF-8" ;

*{
    margin: 0;
    padding: 0;
}
main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.intd > h2 {
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
}
.email{
    background-color: rgba(116, 17, 116, 0.877);
    border-radius: 10px;
   
}
#ilogin{
    background-color: rgba(21, 216, 216, 0.842);

}
.ilogin2{
    background-color: rgba(21, 216, 216, 0.842);

}